h1{
    text-align: center;
}
body
{
    font-family: 'Calculator', sans-serif;
   
}

#container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 35% 55% 35% 35% 35% 35% 35%;
    padding-left: 15%;
    padding-right: 15%;                                          
}

button{
    font-size: 150%;
    font-family: 'Calculator', sans-serif;
    font-weight: 700;
   
}

#prevCalc{
    grid-column: span 4;
    text-align: right;
    
}
#result{
    grid-column: span 3;
    text-align: right;
    /*font-size: 280%;*/
}

