#container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100% 200% 200% 200% 200% 200% 200%;
}
#b1{
    grid-column: span 4;
}
#b2{
    grid-column: span 4;
}

